h1 {
  color: indianred;
  font-family: Arial, Helvetica, sans-serif;
}

#main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

#display-pixels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50vw;
}

#create-pixel {
  height: 100px;
}

.year {
  display: flex;
}

.day {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.month-header {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  color: white;
  background-color: indianred;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

.not-a-day {
  display: flex;
  flex-direction: row;
  width: 25px;
  padding-bottom: 25px;
  border: 1px solid gray;
  background-color: gray;
}

.month {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
}

.form-display {
  display: flex;
}

.form-hidden {
  display: none;
}

.happy {
  background-color: yellow;
}

.meh {
  background-color: green;
}

.sad {
  background-color: blue;
}

.angry {
  background-color: red;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

button {
  margin-left: 20px;
}

.selected {
  border: 3px solid black;
}
